.form{
  border:1px solid #999;
  border-radius:10px;
  box-sizing: content-box;
  margin: 0 auto 30px auto;
  padding:50px 20px;
  width:250px;
  h2{
    font-size: 16px;
    text-align: center
  }
  p{
    text-align: center
  }
  .row .col{
    padding: 0
  }
}
.form-row{
  margin: 10px 0;
}
.new-post{
  .row{
    margin-bottom: 10px;
  }
}
