.timeline{
  margin:0 auto;
  width: 400px;
  .like{
    font-size: 12px;
  }
  .desc{
    font-size: 20px;
  }
  .date{
    color:#555;
    font-size: 10px;
  }
  ul{
    li{
      @include reset();
      font-size: 14px;
      list-style-type: none;
      .comment-user{
        font-weight: bold;
      }
      .comment-date{
        color:#AAA;
      }
    }
  }
}
